/*Web Fonts ----------------------------*/

@font-face {
    font-family: 'archisticonormal';
    src: url('../fonts/Archistico_Simple-webfont.eot');
    src: url('../fonts/Archistico_Simple-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Archistico_Simple-webfont.woff') format('woff'),
         url('../fonts/Archistico_Simple-webfont.ttf') format('truetype'),
         url('../fonts/Archistico_Simple-webfont.svg#archisticonormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Default Styles ----------------------*/

* {
	box-sizing: border-box;
}

/* Header ------------------------------*/

h1 {
	color: #fdfcf4;
	font-family: 'archisticonormal', sans-serif;
	font-size: 9.375rem;
	font-weight: lighter;
	margin: auto;
	text-align: center;
	padding-top: 300px;
	text-shadow: 5px 5px 5px rgba(0,0,0, 1);
	}

.main-header {
	height: 500px;
	margin-top: 0;
	background: linear-gradient(0deg, #680783 0%, transparent 75%),
							#680783 url('../img/Band Pic in Tube.jpg') no-repeat center;
	background-size: cover;
	width: 100%;
}

/* Navigation Bar ----------------------*/

.navigation ul{
	background: #680783;
	padding-top: 15px;
	padding-bottom: 15px;
  padding-left: 3px;
  padding-right: 3px;
}

.navigation li {
	display: inline-flex;
  border: 1px solid #fdfcf4;
  box-shadow: 0px 5px 2.5px rgba(0,0,0, .5);

}

.navigation a {
	background: #680783;
	font-family: 'Noto Serif', serif;
	font-weight: lighter;
	letter-spacing: 2px;
	padding-left: 15px;
	padding-right: 15px;
	text-shadow: 1px 1px rgba(0,0,0, .5);
}

/* Order Section -----------------------*/

#order img {
	border-radius: 10px;
	box-shadow: 0px 10px 5px rgba(0,0,0, .5);
}

/* News Section ------------------------*/

#news li{
	text-align: center;
	margin: auto 50px;
	font-size: .8em;
	line-height: 2em;
}

/* Music Section -----------------------*/

#covers img{
	margin-left: 20px;
	margin-right: 20px;
	box-shadow: 0px 10px 5px rgba(0,0,0, .5);
}

#soundcloud {
	width: 55%;
	margin: auto;
	box-shadow: 0px 10px 5px rgba(0,0,0, .5);
}

/* Videos Section -----------------------*/

#videos iframe{
	box-shadow:  0px 10px 5px rgba(0,0,0, .5);
  margin: 25px;
}

/* Store Section ------------------------*/

#store img {
	box-shadow: 0px 10px 5px rgba(0,0,0, .5);
}

/* Shows Section -----------------------*/

#shows p {
	font-size: .8em;
}

#shows h4 {
  font-weight: lighter;
  text-decoration: underline;
}

/* Main Styles -------------------------*/

img {
	max-width: 100%;
	margin-bottom: 20px;
}

body {
	background: #fdfcf4;
	text-align: center;
	color: #3b3b3b;
	font-size: 1.5rem;
	font-family: 'Noto Serif', serif;
	margin: 0 auto;
}

body url{
  opacity: 0.4;
}

img{
	max-width: 100%;
}

.main-header {
	text-align: center;
}

#news,
#music,
#videos,
#store,
#shows,
#contact {
	padding: 5px;
	border-top: 1px solid #590059;
	padding-bottom: 30px;
}

#music,
#store,
#contact {
  background:#ebe0f8;
}

#order {
  background: linear-gradient(0deg, #ebe0f8 0%, #680783 100%);
  padding-top: 50px;
	padding-bottom: 50px;
}

/* Footer ----------------------------*/

#main-footer {
	background: linear-gradient(180deg, #ebe0f8 0%, transparent 100%),
							url('../img/Name in Flowers.jpg') no-repeat center;
	width: 100%;
	height: 200px;
  border-top: none;
}

#main-footer img {
	box-shadow: 0px 10px 5px rgba(0,0,0, .5);
	border-radius: 10%;
}

/* Back to Top Button------------------*/

.go-top {
	position: fixed;
	bottom: 4em;
	right: 2em;
	text-decoration: none;
	font-weight: bold;
	background-color: #680783;
	box-shadow: 0px 5px 5px rgba(0,0,0, .5);
	border-radius: 10%;
	font-size: 12px;
	padding: 1em;
	display: none;
}

.go-top:hover {
	background-color: #79ddff;
}

.go-top:active {
	background-color: #0086b4;
}

#button a{
	color: #f4e2b6;
}

/* Link Style--------------------------*/

a:link {
  color: #222222;
  text-decoration: none;
}

a:visited {
  color: #767676;
}

a:hover {
  color: #79ddff;
}

a:active {
  color: #0086b4;
}

.navigation a:link {
	color: 	#fdfcf4;
}

.navigation a:hover {
	color: #79ddff;
}

.navigation a:active {
	color: #0086b4;
}

/* Float Clearfix ---------------------*/

#music:after {
  content: "";
  display: table;
  clear: both;
}

/* Media Queries ----------------------*/

@media (max-width: 860px) and (min-width: 711px) {
	.main-header {
		height: 300px;
	}
	.navigation li{
	margin-bottom: 15px;
	}
	h1 {
		font-size: 7rem;
		padding-top: 200px;
	}
}

@media (max-width: 710px) and (min-width: 601px) {
	h1 {
		font-size: 7rem;
	}
}

@media (max-width: 600px) {
	h1 {
		font-size: 5.5rem;
	}
	.passing-cloud,
	.violet-city {
		width: 100%;
	}
}
