/*Web Fonts ----------------------------*/

@font-face {
		font-family: 'sofia_prolight';
		src: url('../SofiaProLight-webfont.eot');
		src: url('../SofiaProLight-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../SofiaProLight-webfont.woff2') format('woff2'),
				 url('../SofiaProLight-webfont.woff') format('woff'),
				 url('../SofiaProLight-webfont.ttf') format('truetype'),
				 url(../'SofiaProLight-webfont.svg#sofia_prolight') format('svg');
		font-weight: normal;
		font-style: normal;

}

	/*@font-face {
	    font-family: 'droid_serifbold';
	    src: url('../fonts/DroidSerif-Bold-webfont.eot');
	    src: url('../fonts/DroidSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/DroidSerif-Bold-webfont.woff') format('woff'),
	         url('../fonts/DroidSerif-Bold-webfont.ttf') format('truetype'),
	         url('../fonts/DroidSerif-Bold-webfont.svg#droid_serifbold') format('svg');
	    font-weight: normal;
	    font-style: normal;
}*/

@font-face {
    font-family: 'archisticonormal';
    src: url('../fonts/Archistico_Simple-webfont.eot');
    src: url('../fonts/Archistico_Simple-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Archistico_Simple-webfont.woff') format('woff'),
         url('../fonts/Archistico_Simple-webfont.ttf') format('truetype'),
         url('../fonts/Archistico_Simple-webfont.svg#archisticonormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Default Styles ----------------------*/

* {
	box-sizing: border-box;
}

/* Header ------------------------------*/


h1 {
	color: #f4e2b6;
	font-family: 'archisticonormal', sans-serif;
	font-size: 9.375rem;
	font-weight: lighter;
	letter-spacing: .5em;
	margin: auto;
	text-align: center;
	padding-top: 300px;
	text-shadow: 5px 5px 5px rgba(0,0,0, 1);
	}

.main-header {
	height: 500px;
	margin-top: 0;
	background: linear-gradient(0deg, #590059 0%, transparent 40%),
							#b300b3 url('../img/Band Pic in Tube.jpg') no-repeat center;
	background-size: cover;
	width: 100%;
}

/* Navigation Bar ----------------------*/



.navigation ul{
	background:	#590059;
	padding-top: 15px;
	padding-bottom: 15px;

}

.navigation li {
	display: inline-flex;

}

.navigation a {
	background: #590059;
	font-family: 'sofia_prolight',sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
	padding-left: 15px;
	padding-right: 15px;
	text-shadow: 2px 2px rgba(0,0,0, .8);
}

/* Order Section -----------------------*/

#order {
	background: linear-gradient(0deg, #f3f2cb 0%, #590059 90%);
	padding-top: 50px;
	padding-bottom: 50px;
}

#order img {
	border-radius: 10px;
	box-shadow: 0px 10px 5px rgba(0,0,0, .5);
}

/* News Section ------------------------*/

#news li{
	text-align: left;
	margin: auto 50px;
	font-size: .8em;
	line-height: 2em;
	list-style: disc;
}


/* Music Section -----------------------*/

.passing-cloud,
.violet-city {
	vertical-align: top;
	display: inline-block;
	text-align: center;
	width: 50%;
	padding-left: 10px;
	padding-right: 10px;
}

.passing-cloud a,
.violet-city a {
	display: block;
}

.passing-cloud img,
.violet-city img {
	box-shadow: 0px 10px 5px rgba(0,0,0, .5);
}

.passing-cloud {
	float: left;
}

.violet-city {
	float: right;
}

/* Videos Section -----------------------*/

#videos iframe{
	box-shadow:  0px 10px 5px rgba(0,0,0, .5);
}

/* Store Section ------------------------*/

#store img {

	box-shadow: 0px 10px 5px rgba(0,0,0, .5);
}


/* Shows Section -----------------------*/

#shows p{
	font-size: .8em;
}

/* Main Styles -------------------------*/

img {
	max-width: 100%;
	margin-bottom: 20px;
}

body {
	background: #f3f2cb;
	text-align: center;
	color: #3b3b3b;
	font-size: 1.5rem;
	font-family: 'sofia_prolight',sans-serif;
	margin: 0 auto;
}

img{
	max-width: 100%;
}

.main-header,
.primary-content {
	text-align: center;
}

.primary-content {
	background:	linear-gradient(180deg, #f3f2cb 0%, transparent 15%),
							linear-gradient(0deg, #f3f2cb 0%, #f7f6db 30%),
							#e0e0e0;

	width:85%;
	margin: auto;
	padding: 20px;
}

#news,
#music,
#videos,
#store,
#shows,
#contact {
	padding: 5px;
	margin: 5px;
	border-top: 1px solid #590059;
	padding-bottom: 30px;
}

/* Footer ----------------------------*/

#main-footer {
	background: linear-gradient(180deg, #f3f2cb 0%, transparent 75%),
							url('../img/Name in Flowers.jpg') no-repeat center;
	width: 100%;
	height: 200px;
	padding-top: 20px;
}

#main-footer img {
	box-shadow: 0px 10px 5px rgba(0,0,0, .5);
	border-radius: 10%;
}

/* Link Style--------------------------*/

a:link {
  color: #662e66;
  text-decoration: none;
}

a:visited {
  color: #767676;
}

a:hover {
  color: #71c5e8;
}

a:active {
  color: #24a4d8;
}

.navigation a:link {
	color: #f7e9c7;
}

.navigation a:hover {
	color: #71c5e8;
}

.navigation a:active {
	color: #24a4d8;
}
/* Float Clearfix ---------------------*/

#music:after {
  content: "";
  display: table;
  clear: both;
}

/* Media Queries ----------------------*/

@media (max-width: 1105px) {
	.primary-content {
		width: 95%;
	}
	h1 {
		font-size: 7rem;
	}
}

@media (max-width: 860px) {
	.main-header {
		height: 300px;
	}
	.navigation li{
	margin-bottom: 15px;
	}
	h1 {
		font-size: 6rem;
		padding-top: 200px;
	}
}

@media (max-width: 710px) {
	.primary-content {
		width: 100%;
		padding: 10px;
	}
	h1 {
		font-size: 5rem;
	}
}

@media (max-width: 600px) {
	h1 {
		font-size: 3rem;
	}

}
